 
 
 /*footer*/
 .footer-class {
    background-color: #4f4e51;
    color: white; }
  
  .rubrik-live {
    font-size: 1.7rem;
    margin: 4px; }
  
  .footer-div {
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center; }
  
  .f1 {
    padding: 10px;
    text-align: left; }
  
  .f2 {
    padding: 10px;
    text-align: right;
    margin-top: 40px;
    margin-left: 40px; }
  