

/*header*/
.voodoo {
    margin-top: 30px;
    text-align: center;
    font-family: 'Krona One', sans-serif;
    color: black;
    font-size: 1rem; }
  /* Hey Guys,*/
  h2 {
    font-weight: bolder;
    font-size: 2.7rem;
    font-family: sans-serif;
    padding-bottom: 2vw;
    padding-right: 4vw; }
  
  .flex-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    font-size: 2vw;
    padding-right: 25vw;
    padding-bottom: 2vw; }

/*images*/
.img-responsive {
    max-width: 100%;
    height: auto; }
  
  .img-responsive1 {
    width: 100%;
    height: auto; }
  